image:
  - Visual Studio 2019

configuration:
  - Debug
  - Release

environment:
  matrix:
    - PLATFORM: x86
      QTDIR: C:\Qt\5.14\msvc2017
      GENERATOR: Visual Studio 16 2019
      ARCHITECTURE: Win32
    - PLATFORM: x64
      QTDIR: C:\Qt\5.14\msvc2017_64
      GENERATOR: Visual Studio 16 2019
      ARCHITECTURE: x64

install:
  - set PATH=%QTDIR%\bin;%PATH%

before_build:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" %PLATFORM%
  - cmake -G"%GENERATOR%" -A %ARCHITECTURE% -DCMAKE_PREFIX_PATH=%QTDIR% -DCMAKE_INSTALL_PREFIX=./install .

build_script:
  - cmake --build . --config %CONFIGURATION%

after_build:
  - cmake --build . --config %CONFIGURATION% --target PACKAGE
  - ps: dist/windows/Build-InstallerBundle.ps1 -candle 'C:\Program Files (x86)\WiX Toolset v3.11\bin\candle.exe' -light 'C:\Program Files (x86)\WiX Toolset v3.11\bin\light.exe'

on_failure:
  - pwsh: |
      Write-Output '# Environment variables:'
      Get-ChildItem env:

      Write-Output '# WiX log file:'
      $packagePlatformDesignator = if ($env:PLATFORM -eq 'x86') { 'win32' } else { 'win64' }
      $wixLogFilePath = "./_CPack_Packages/$packagePlatformDesignator/WIX/wix.log"
      Write-Output "($wixLogFilePath)"
      if (Test-Path $wixLogFilePath) {
        Get-Content $wixLogFilePath
      } else {
        Write-Output "not found"
      }

test_script:
  - ctest --output-on-failure

artifacts:
  - path: '*.msi'
    name: Installer
  - path: '*.exe'
    name: InstallerBundle

deploy:
  provider: GitHub
  auth_token:
    secure: 0dqD0nJznh5C1ljdK5XdGXiivGzx5BWbfVMAdYVRsKC1QhbBIBzFl9tvRfzcuDSp
  artifact: InstallerBundle
  on:
    appveyor_repo_tag: true
    configuration: Release
