sudo: required

language: cpp

services:
 - docker

os:
  - linux
  - osx

matrix:
  exclude:
    os: osx
  include:
    os: osx
    language: cpp
    osx_image:
      - xcode6.4
      - xcode7.3
      - xcode8.3
      - xcode9
    before_install:
      - brew install qt
      - brew link --force qt
      - ln -s $(brew --prefix qt)/mkspecs $(brew --prefix)/mkspecs
      - ln -s $(brew --prefix qt)/plugins $(brew --prefix)/plugins
    install:
      - mkdir build && cd build
      - cmake ..
      - make VERBOSE=1
    script:
      - make test
    services:
    env:

env:
 - BASE_IMAGE_TAG=gcc7-qt59
 - BASE_IMAGE_TAG=gcc7-qt58
 - BASE_IMAGE_TAG=gcc7-qt57
 - BASE_IMAGE_TAG=gcc7-qt56
 - BASE_IMAGE_TAG=gcc7-qt55
 - BASE_IMAGE_TAG=gcc6-qt59
 - BASE_IMAGE_TAG=gcc6-qt58
 - BASE_IMAGE_TAG=gcc6-qt57
 - BASE_IMAGE_TAG=gcc6-qt56
 - BASE_IMAGE_TAG=gcc6-qt55
 - BASE_IMAGE_TAG=gcc4.8-qt59
 - BASE_IMAGE_TAG=gcc4.8-qt58
 - BASE_IMAGE_TAG=gcc4.8-qt57
 - BASE_IMAGE_TAG=gcc4.8-qt56
 - BASE_IMAGE_TAG=gcc4.8-qt55

install:
 - cat Dockerfile.in | m4 -DBASE_IMAGE_TAG=${BASE_IMAGE_TAG} > Dockerfile
 - docker build . -t test

script:
 - docker run test
